[submodule "Modules/GLFW"]
	path = Modules/GLFW
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "Modules/GLM"]
	path = Modules/GLM
	url = https://github.com/g-truc/glm.git
	branch = master
[submodule "libs/tinyobjloader"]
	path = Modules/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
	branch = master
[submodule "Modules/imgui"]
	path = Modules/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Modules/std_image"]
	path = Modules/std_image
	url = https://github.com/flickhail/stb_image.h.git
	branch = master

