# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Lunar/src/Meshes/
Lunar/src/Meshes/*
!Lunar/src/Meshes/*.txt
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!libs/GLFW/src/Debug/
libs/GLFW/src/Debug/*
libs/GLFW/src/Debug/*.lib
!libs/imgui/x64/Debug/
libs/imgui/x64/Debug/*
libs/imgui/x64/Debug/*.lib

!folder/
folder/*
!folder/*.txt
# Executables
*.exe
*.out
*.app
.vs/
bin/
