# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!Lunar/src/Meshes/*.obj


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# !libs/GLFW/src/Debug/
# libs/GLFW/src/Debug/*
!libs/GLFW/src/Debug/*.lib
!libs/imgui/x64/Debug/*.lib
# libs/imgui/x64/Debug/*
# libs/imgui/x64/Debug/*.lib

# !folder/
# folder/*
# !folder/*.txt
#Compiled
*.tlog
*.lastbuildstate
*.recipe
*.log
*.pdb

# Executables
*.exe
*.out
*.app
.vs/
bin/
*.lnk
*.enc
/ImGui/x64/Debug/ImGui.log
/ImGui/x64/Debug/ImGui.Build.CppClean.log
/libs/imgui/x64/Debug/ImGui.idb
